<div class="jumbotron">
  <h2>Resonate-TSP is the best way to find reviews on local tutorial centres.</h2>
  <h3>Explore the favourite tutorial centres in your community!<br>
  Leave reviews and ratings to let others know what you think!</h3>
</div>  

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Website</th>
      <% if user_signed_in? && current_user.admin? %>
        <th colspan="2"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @tutorial_centres.each do |tutorial_centre| %>
      <tr>
        <td><%= link_to tutorial_centre.name, tutorial_centre %></td>
        <td><%= tutorial_centre.address %></td>
        <td><%= tutorial_centre.phone %></td>
        <td><%= link_to tutorial_centre.website, tutorial_centre.website %></td>
        <% if user_signed_in? && current_user.admin? %>
          <td><%= link_to 'Edit', edit_tutorial_centre_path(tutorial_centre), class: "btn btn-link" %></td>
          <td><%= link_to 'Destroy', tutorial_centre, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if user_signed_in? && current_user.admin? %>
  <%= link_to new_tutorial_centre_path, class: "btn btn-primary", data: { no_turbolink: true } do %>
    <i class="glyphicon glyphicon-home"></i> New Tutorial Centre
  <% end %>
  <%#= link_to 'New Tutorial centre', new_tutorial_centre_path, class: "btn btn-link" %>
<% end %>

<%= image_tag "https://s3.amazonaws.com/resonate-tsp/yelp+sketch.png" %>

<br>
<br>

<div class="center">
<div class="fb-like" data-href="http://resonatetsp.herokuapp.com/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
</div>
