<div class="jumbotron">
  <h2>Resonate-TSP is the best way to find reviews on local tutorial centres.</h2>
  <h3>Explore the favourite tutorial centres in your community!<br>
  Leave reviews and ratings to let others know what you think!</h3>
</div>  

<div class="container">
  <div class="row">
    <h2 class="text-center">Tutorial Agencies</h2>
            <% @tutorial_centres.each do |tutorial_centre| %>
            <div class="row">
                <div class="col-md-4 text-center">
                    <div class="box">
                        <div class="box-content">
                            
                            <h1 class="tag-title">
                              <%= link_to tutorial_centre.name, tutorial_centre %>
                            </h1>
                            
                            <hr/>
                            
                            <h5>
                              <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                              :
                              <%= tutorial_centre.phone %>
                            </h5>
                            
                            <h5>
                              <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                              :
                              <%= link_to tutorial_centre.website, tutorial_centre.website %>
                            </h5>
                  
                            
                            <h5>tags:
                            <% tutorial_centre.tags.any? %>
                              <% tutorial_centre.tags.each do |tag| %>
                                <span class="label label-warning">
                                  <%= link_to tag.name, tag_path(tag.name) %>
                                </span>  
                            <% end %>
                            </h5>

                            <hr/> 
                            <div class="btn btn-success"><%= link_to "Learn more", tutorial_centre %></div>

                        </div>

                    </div>
                </div>
                <% end %>


           
            </div>           
        </div>
        
  </div>
</div>

            
<br>

<%= will_paginate @posts, renderer: BootstrapPagination::Rails %>

<br>

<% if user_signed_in? && current_user.admin? %>

  <%= link_to new_tutorial_centre_path, class: "btn btn-primary", data: { no_turbolink: true } do %>
    <i class="glyphicon glyphicon-home"></i> New Tutorial Centre
  <% end %>

  
  <%#= link_to 'New Tutorial centre', new_tutorial_centre_path, class: "btn btn-link" %>
<% end %>

<%= image_tag "https://s3.amazonaws.com/resonate-tsp/yelp+sketch.png" %>

<br>
<br>

<div class="center">
<div class="fb-like" data-href="http://resonatetsp.herokuapp.com/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
</div>
