<div class="row">
	<div class="col-md-3">
		<%= image_tag @tutorial_centre.image_url %>

		<h2>
 		 <%= @tutorial_centre.name %>
		</h2>

		<div class="star-rating" data-score= <%= @avg_rating %> ></div>
		<p><%= "#{@reviews.length} reviews" %></p>

		<p>
  		 <strong>Address:</strong>
  		 <%= @tutorial_centre.address %>
		</p>

		<p>
  		 <strong>Phone:</strong>
  		 <%= @tutorial_centre.phone %>
		</p>

		<p>
  		 <strong>Website:</strong>
  	 	 <%= link_to @tutorial_centre.website, @tutorial_centre.website %>
		</p>

		<%= link_to new_tutorial_centre_review_path(@tutorial_centre), class: "btn btn-primary", data: { no_turbolink: true } do %>
      <i class="glyphicon glyphicon-pencil"></i> Write a Review
    <% end %>

    <%#= link_to "Write a Review", new_tutorial_centre_review_path(@tutorial_centre), class: "btn btn-primary" %>

      <br>
      <br>

      <iframe
        width="230"
        height="230"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBQNGNFWuQRgCPoW-GLaoHk3l2rzV8WpFw
        &q=<%= @tutorial_centre.address.parameterize %>&zoom=15">
      </iframe>
	
	</div>

	<div class="col-md-9">
	 <% if @reviews.blank? %>
		<h3>No reviews yet. Be the first to write one!</h3>
     <% else %>
     	<table class="table">
     		<thead>
     			<tr>
     				<th class="col-md-3"></th>
     				<th class="col-md-9"></th>
     			</tr>
     		</thead>
  			
  			<tbody>
    			<% @reviews.each do |review| %>
     			    <tr>
       					<td>
       						<h4>
                    <%= "#{review.user.first_name.capitalize} #{review.user.last_name.capitalize[0]}." %>
                  </h4>
       						<p><%= review.created_at.strftime("%-m/%-d/%Y") %></p>
       					</td>

       					<td>
          					<div class="star-rating" data-score= <%= review.rating %> ></div>
          					<p><%= h(review.comment).gsub(/\n/, '<br/>').html_safe %></p>

                    <% if user_signed_in? %>
                      <% if (review.user == current_user) || (current_user.admin?) %>
                        <%= link_to "Edit", edit_tutorial_centre_review_path(@tutorial_centre, review) %>
                        <%= link_to "Delete", tutorial_centre_review_path(@tutorial_centre, review), method: :delete %>
                      <% end %>
                    <% end %>

        				</td>
     				 </tr>
   			    <% end %>
  			</tbody>
		</table>
     	
     <% end %>
		
	</div>
</div>

<%= link_to 'Edit', edit_tutorial_centre_path(@tutorial_centre), class: "btn btn-link" %> |
<%= link_to 'Back', tutorial_centres_path, class: "btn btn-link" %>

<script>
	$('.star-rating').raty({
		path: 'https://s3.amazonaws.com/resonate-tsp/stars',
		readOnly: true,
		score: function() {
    		return $(this).attr('data-score');
  		}
	});
</script>
