<div class="jumbotron">
<div class="container">
  <div class="howitworks">  
    <div class="row">
        <div class="row">
          <h1 style="color:#2E3338"><%= t('Features') %></h1>
          <h2><%= t('We are here to help! Be it a tutor, student or parent, you will find something that interests you!') %></h2><br>
          <div class="col-md-4 col-sm-4">          
            <h1><span class="glyphicon glyphicon-search"></span></h1>          
            <h3><%= link_to "Reviews", root_path %></h3><br>
            <p><%= t('See what others think!') %></p>
          </div>
          <div class="col-md-4 col-sm-4">          
            <h1><span class="glyphicon glyphicon-user"></span></h1>          
            <h3><%= link_to "University Ambassadors", pages_university_ambassadors_path %></h3><br>
            <p><%= t('Advice on Uni Admission!') %></p>
          </div>
          <div class="col-md-4 col-sm-4">
            <h1><span class="glyphicon glyphicon-transfer"></span></h1>
            <h3><%= t('Forum') %></h3><br>
            <p><%= t('Heated Debates between teachers and students!') %></p>
          </div>
          
        </div><!-- end of row -->
     
    </div><!-- end of row --> 
  </div><!-- end of howitworks-->
</div>